body {
  background-color: #0f0f0f;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  h1 {
    font-weight: 700;
    margin: 0;
  }

  h2{
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
  p {
    color: #ffffff;
    margin: 0;
  }
  
  header {
    background-color: #1a1a1a;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #ffffff;
    padding: 0 1rem;
  }
  
  nav a:hover {
    color: #cccccc;
  }
  
  
  #hero {
    background-image: url('https://i.postimg.cc/QMCRQSWr/920x515-singapore.jpg');
    background-size: cover;
    background-position: center;
    height: 100ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 1rem;
    border: 0;
    padding-top: 100px;
  }
  
  #hero h1 {
    font-size: 4rem;
  }
  
  #hero p {
    font-size: 1.5rem;
  }
  
  #features {
    padding: 6rem 2rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #features h2 {
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  #features p {
    max-width: 30rem;
    text-align: center;
  }
  
  footer {
    background-color: #0f0f0f;
    padding: 2rem;
    text-align: center;
  }
  
  #hero img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 3rem;
    filter: blur(0.1px) saturate(1.1);
  }
  #qm {
    margin-right: 700px;
    margin-top: -1px;
  }
  #dow {
    margin-left:  870px ;
    margin-top: -26px;
  }
  #not {
    margin-left: 1730px;
    margin-top: -27px;
  }
  .vinicius {
background-color: rgb(0, 255, 0);
  }

  img.tela-cheia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para preencher a tela sem distorção */
}