* {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, rgb(17, 126, 13), white);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    background: rgba(255, 0, 0, 0.5);
}